/* Generic */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    display: flex;
    justify-content: center;
}
p {
    margin-top: 0px;
}
canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    /* image-rendering: auto; */
}


/* Buttons */
button {
    font-family: 'Times New Roman', Times, serif;
    appearance: auto;
    -webkit-appearance: none;

    background-color: white;
    color: black;

    outline: 2px solid black;
    border: none;
    border-radius: 10px;
    padding: 0px;

    width: 70px;
    height: 70px;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.ripple {
    background-position: center;
    transition: background 0.5s;
}
.ripple:active {
    background-color: #b9b9b9;
    background-size: 100%;
    transition: background 0s;
}

#endEarly {
    font-size: 40px;
    color: #c50000;
    margin-right: 100px;
    z-index: 1;
}
#resetZoom {
    position: absolute;
    bottom: 10px;
    right: 0px;
}


/* Toggle */
#toggleDiv {
    position: absolute;
    top: 10px;
    right: 0px;
    height: -webkit-calc(100vh - 110px);
    height:    -moz-calc(100vh - 110px);
    height:         calc(100vh - 110px);
    display: block;
}
.toggleButton {
    margin-top: 0px;
    margin-bottom: 3px;
    height: 50%;
}
#brush {
    border-radius: 10px 10px 0px 0px;
}
#eraser {
    font-size: 55px;
    border-radius: 0px 0px 10px 10px;
}


/* Divs */
#timerDiv {
    display: none;
    position: relative;
    text-align: center;
    font-size: 70px;
    top: -10px;
    width: fit-content;
    padding: 0px 15px;
    background-color: white;
    border-radius: 10px;
    outline: 2px solid black;
    height: 90px;

    margin-left: 90px;
}
#sideDiv {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 100vh;  
    outline: 2px solid black;
}