/* Generic */
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
p {
    margin-top: 0px;
}
canvas {
    position: absolute;
    image-rendering: auto;
    /* image-rendering: crisp-edges; */
}


/* Buttons */
button {
    font-family: 'Times New Roman', Times, serif;
    appearance: auto;
    -webkit-appearance: none;

    background-color: white;
    color: black;

    outline: 2px solid black;
    border: none;
    border-radius: 10px;
    padding: 0px;

    width: 70px;
    height: 70px;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}
.ripple {
    background-position: center;
    transition: background 0.5s;
}
.ripple:active {
    background-color: #b9b9b9;
    background-size: 100%;
    transition: background 0s;
}

#endEarly {
    font-size: 40px;
    color: #c50000;
    z-index: 1;
    /* float:inline-end; */
}
#resetZoom {
    position: absolute;
    bottom: 10px;
    right: 0px;
}


/* Modals */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.modal {
    display: none;
    text-align: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Disable scroll */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    margin-top: 30vmin;
    padding: 30px 30px;
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    font-size: 27px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Toggle */
#toggleDiv {
    position: absolute;
    top: 10px;
    right: 0px;
    height: -webkit-calc(100vh - 110px);
    height:    -moz-calc(100vh - 110px);
    height:         calc(100vh - 110px);
    display: block;
}
.toggleButton {
    margin-top: 0px;
    margin-bottom: 3px;
    height: 50%;
}
#brush {
    border-radius: 10px 10px 0px 0px;
}
#eraser {
    font-size: 55px;
    border-radius: 0px 0px 10px 10px;
}


/* Divs */
#timerDiv {
    display: none;
    position: relative;
    text-align: center;
    font-size: 70px;
    top: -10px;
    width: fit-content;
    margin-left: 90px;
    padding: 0px 15px;
    background-color: white;
    border-radius: 10px;
    outline: 2px solid black;
    height: 90px;
}
#sideDiv {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 100vmin;  
    outline: 2px solid black;
}
#topDiv {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100vw - 90px);
    display: flex;
    justify-content: center;
}